services:
  frontend:
    build:
      context: . # root so Dockerfile sees project files
      dockerfile: frontend/Dockerfile
    ports:
      - '3000:80'
    depends_on:
      - backend
    # volumes:
    #   - ./frontend:/app/frontend

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '8000:8000'
    environment:
      - PYTHONPATH=/app
      - TESTING=true
    volumes:
      - ./backend:/app/backend
    working_dir: /app
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000

  test-runner:
    build:
      context: .
      dockerfile: tests/Dockerfile.test
    depends_on:
      - backend
      - frontend
    environment:
      - PYTHONPATH=/app/backend
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    working_dir: /app/backend
    command: pytest tests -v
