# Backend dependencies
fastapi
uvicorn[standard]
pydantic
python-jose
passlib[bcrypt]
jwt
httpx
email-validator
python-multipart

# Data handling
kagglehub

# Testing
pytest

# Development tools (optional)
flake8

bandit
pre-commit

# Database
sqlalchemy
